.container {

    background-image: url(../../base/img/wp3210599.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin-top: 1%;
    width: 79%;
    height: 85%;
    border: 1px solid #dedede;
    display: flex;
}

.reserve {
    margin: 3%;
    margin-left: 1.5%;
    padding: 3%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #787878;

}

.reserve select {
    border-radius: 20px;
    width: 330px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    border: 3px solid #fffdfd;
}


input.submit {
    border-radius: 20px;
    width: 330px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    border: 3px solid #fffdfd;
    background: #07cc07 !important;
}

input {
    border-radius: 20px;
    width: 330px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    border: 3px solid #696969;
    background: #fffdfd;
}

.status {
    margin: 3%;
    margin-right: 1.5%;
    padding: 3%;
    width: 50%;
    border: 1px solid #787878;
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: auto;
}


.card-row {
    background: #fffdfd;
    border-radius: 20px;
    width: 330px;
    height: 55px;
}

.card-row h5 {
    border-left: 2px solid black;
    text-align: center;
}

.card-row button.w-25 {
    border-radius: 20px 0 0 20px;
}


.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-row .h-100 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
